<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Amazon automation testing">
		<parameter name="browser" value="Chrome" />
		<parameter name="url"
			value="https://www.amazon.in/" />
		<classes>
			<class name="in.amazon.Geturl"/>
			<class name="in.amazon.Titlevalidation"/>
			<class name="in.amazon.Productselection"/>
			
		</classes>
	</test>
</suite> <!-- Suite -->
